{% extends 'itinerarium/base.html' %}

{% block content %}
            {% for post in posts %}
                <div class="post well">
                    <div class="date">
                        <p>veröffentlicht von {{ post.author }} am {{ post.published_date|date:"d. F y" }}</p>
                    </div>
                    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                    <p>{{ post.text|linebreaks|truncatewords:10}}</p>
                    <a href="{% url 'itinerarium.views.post_detail' pk=post.pk %}">Kommentare: {{post.approved_comments.count }}</a>
                </div>
            {% endfor %}
{% endblock %}
